<div id="homePage">
    <form id="form" action="/artist-search", method="get">
        <input type="text" name="artists" placeholder="... Artist here">
        <button>Search for an Artist</button>
    </form>
</div>